.page-wrapper {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

body{
    background-image: url("/img/sunny.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.column{
    display: flex;
    justify-content: space-evenly;
}
/*          Weather App header and city location    */
.header{
    background-color: #3487c5;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}
/*                 MapBox Area                       */
#map {
    /* the width and height may be set to any size */
    width: 300px;
    height: 300px;
    flex-grow: 1;
    opacity: 75%;
}
/*        City Search area          */
.search-area {
    width: 20%;
}
/*           Search Button           */
.btn {
    background-color: rgb(50, 126, 224);
    height: 40px;
    padding: 0px;
    margin: 0px;
    opacity: 75%;
}
/*        Weather Card              */
.card {
    width: 200px;
    height: 300px;
    background: rgb(50, 126, 224);
    border-radius: 40px 0 40px 0;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 75%;
    padding: 2px;
}
li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}